body {
    background: #f4f4f4;
    color: #757575;
    font-family: 'Alegreya Sans', sans-serif;
    letter-spacing: 2px;
    padding-bottom: 60px;
}

#header {
    text-align: center;
}

.container {
    background: #fff;
    padding: 70px 50px;
    margin: 50px auto;
    border: 1px solid #FFF;
    width: 1100px;
}

img {
    max-width: 100%
}

.propic {
    border-radius: 10px;
}

hr {
    margin: 35px 0;
}

h1 {
    font-size: 2em;
    font-weight: bolder;
    color: #000;
    margin: 0;
}

h2 {
    font-size: 1.0em;
    /* background: #fcfcfc; */
    padding: 0px 0px 30px 0px;
}

h3 {
    font-size: 1.4em;
    text-transform: uppercase;
    color: #000;
    margin-top: 0;
    font-weight: bold;
}

h4 {
    margin: 15px 0 0;
}

p,
a {
    line-height: 1.7em;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 16px;
}

a {
    color: #000;
}

li {
    padding: 7px 10px;
    display: inline;
}

.dl-share .btn {
    min-width: 120px;
}

.signature {
    font-family: 'Kristi', cursive;
    color: #3e3f40;
    font-size: 2.2em;
    margin-top: 20px;
}

.social {
    margin-right: 7px;
}

.btn .fa {
    margin-right: 10px;
}

.secicon.fa {
    font-size: 22px;
    color: #000;
    margin-right: 8px;
}

.sub {
    margin-bottom: 15px;
}

.award {
    padding-top: 20px;
}

blockquote {
    font-size: 1em;
    padding: 0 15px;
    margin: 30px 0;
}

.mainleft {
    padding-right: 30px;
}

.testimonials img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    margin-top: -10px;
    border: 1px solid #ededed;
}

.year,
.share {
    text-align: right;
}

footer p,
footer a {
    font-size: 13px;
}

#progress_javascript {
    background-color: purple;
}

#progress_ajax {
    background-color: darkcyan;
}

#progress_jquery {
    background-color: darkgrey;
}

#progress_bootstrap {
    background-color: gold;
}

#progress_angular {
    background-color: lightgray;
}

#job hr {
    margin-bottom: 10px;
    margin-top: 10px;
}

#education hr {
    margin-bottom: 10px;
    margin-top: 10px;
}