.educational::before {
  content: '';
  display: block;
  width: 6px;
  height: 32px;
  background: linear-gradient(#ffcc00, #f0b724);
  position: absolute;
  margin-left: -22px;
  margin-top: 10px;
  border-radius: 1px 0px 0px 1px;
}
