/* Tooltip text */
.tooltip .text {
  visibility: hidden;
  padding: 8px 4px;
  border-radius: 4px;
  background: var(--neutral-100-color);
  position: absolute;
  z-index: 1;
}

.tooltip:hover .text {
  cursor: pointer;
  visibility: visible;
  margin-left: 30px;
  width: 220px;
}
