.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 0 0 24px 0;
  position: fixed;
  top: 0;
  width: 1400px;
  padding: 64px 0 64px 0; */
}

.logo {
  display: flex;
}

.line {
  border: 1px solid var(--primary);
  width: 7rem;
  margin: auto;
  margin-right: 1rem;
}

.toggle span {
  display: none;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: var(--primary);
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
}

@media (max-width: 1024px) {
  .menu {
    display: none;
  }
  .toggle span {
    display: flex;
  }
}

.menu li {
  display: inline;
}

.menu li:not(:last-child) {
  margin-right: 48px;
}

.menu li span {
  color: var(--primary);
  margin-right: 8px;
}
