.skills::before {
  content: '';
  display: block;
  width: 6px;
  height: 24px;
  background: linear-gradient(var(--primary-500-color), var(--primary-600-color));
  position: absolute;
  margin-left: -14px;
  margin-top: -5px;
  border-radius: 1px 0px 0px 1px;
}
