.markdown {
  @apply text-sm leading-6 font-sans text-justify;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-2xl mt-12 mb-4 font-bold leading-snug;
}

.markdown h3 {
  @apply text-xl mt-8 mb-4 font-bold leading-snug;
}

.markdown pre {
  @apply bg-slate-50 p-4 rounded-md;
}

.markdown blockquote {
  border-left: 1px solid #ccc;
  font-style: italic;
  padding: 1px 24px;
}

.markdown a:link {
  color: var(--primary-600-color);
}